@page
@model WebApplication3.Pages.errors._400Model
@{
    Layout = "_Layout";
}

<div class="container text-center mt-5">
    <h1 class="display-4 text-danger">400 - Bad Request</h1>
    <p class="lead">The request is not recognized by the server due to errors in syntax. Please check and correct the request syntax.</p>
    <p class="lead"><a href="/" class="btn btn-primary">Back to Home</a></p>
</div>