@page
@model WebApplication3.Pages.errors._405Model
@{
    Layout = "_Layout";
}

<div class="container text-center mt-5">
    <h1 class="display-4 text-danger">405 - Method Not Allowed</h1>
    <p class="lead">There are different HTTP request methods, like POST, GET, HEAD, PUT, DELETE, etc., that could be used by the client. The web server can be configured to allow or disallow specific methods. For example, if a website has static pages, the POST method could be disabled. This error usually occurs if the specified method is not allowed.</p>
    <p class="lead"><a href="/" class="btn btn-primary">Back to Home</a></p>
</div>