@page
@model WebApplication3.Pages.errors._500Model
@{
    Layout = "_Layout";
}

<div class="container text-center mt-5">
    <h1 class="display-4 text-danger">500 - Internal Server Error</h1>
    <p class="lead">This is a common error; the client doesn't know what the problem is. The server only tells that there is some problem on the server side. If the server hosts an ASP.NET application, this often means that there is an error in the ASP.NET application. More details about the error could be logged to the EventLog, database, or plain text files.</p>
    <p class="lead">To see how to get error details, take a look at the <a href="https://docs.microsoft.com/en-us/aspnet/core/fundamentals/error-handling?view=aspnetcore-6.0" target="_blank" rel="noopener noreferrer">Application Level Error Handling In ASP.NET tutorial</a>.</p>
    <p class="lead"><a href="/" class="btn btn-primary">Back to Home</a></p>
</div>
